@font-face {
  font-family: 'roboto';
  src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'roboto';
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'roboto';
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
  font-style: normal;
  font-weight: 600;
}

body {
  margin: 100px 0 0 0 ;
  display: flex;
  justify-content: center;
  font-family: roboto, 'Consolas', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}
